{% load static %}
<!DOCTYPE html class="dark">
<html lang="en" class="scroll-smooth">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Base Title{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'core/base.css' %}">
    <link rel="shortcut icon" type="image/png" href="{% static 'core/favicon.ico' %}" />
    <script src="https://unpkg.com/@phosphor-icons/web"></script>
    {% block links %}{% endblock %}
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Anta&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Reddit+Sans:ital,wght@0,200..900;1,200..900&display=swap');

        * {
            font-family: "Reddit Sans", sans-serif;
        }
        .brand-name span {
            font-family: "Anta", sans-serif !important;
            font-weight: 400;
            font-style: normal;
        }

        #search-result-box {
            z-index: 100;
        }
    </style>

</head>

<body class="bg-gray-900 text-white">
    <header class=" bg-gray-800">
        <p id="promo-banner"
            class="relative flex h-10 items-center justify-center bg-primary px-4 text-sm font-normal text-black sm:px-6 lg:px-8">
            Use code <span class="font-medium px-1 hover:cursor-cell group relative inline-block"><span id="promocode">BABALOFFER</span>
                <span onclick="copyToClipboard(this, '#promocode')" onmouseout="changeTextContent(this, 'Copy')"
                    class="absolute invisible group-hover:visible z-10 bg-primary border-black border-2 px-1 right-1 left-1 text-center">
                    Copy
                </span>
            </span> to get 20% off Everything<span title="Max Rs. 250 for first purchase only"
                class="hover:cursor-pointer">*</span>
            <button type="button" class="absolute right-8 border-2 border-primary hover:underline px-1"
                id="got-it-btn">Got it</button>
        </p>
        <nav aria-label="Top" class="mx-auto max-w-7xl px-4 py-2 sm:px-6 lg:px-8">
            <div class="">
                <div class="flex items-center">
                    <button type="button" class="relative rounded-md p-2 text-gray-400 lg:hidden">
                        <span class="absolute -inset-0.5"></span>
                        <span class="sr-only">Open menu</span>
                        <svg class="h-6 w-6" stroke-width="1.5" viewBox="0 0 24 24" fill="none"
                            xmlns="http://www.w3.org/2000/svg" color="#ffffff">
                            <path d="M3 5H21" stroke="#ffffff" stroke-width="1.5" stroke-linecap="round"
                                stroke-linejoin="round"></path>
                            <path d="M3 12H21" stroke="#ffffff" stroke-width="1.5" stroke-linecap="round"
                                stroke-linejoin="round"></path>
                            <path d="M3 19H21" stroke="#ffffff" stroke-width="1.5" stroke-linecap="round"
                                stroke-linejoin="round"></path>
                        </svg>
                    </button>
                    <div class="ml-4 flex lg:ml-0 items-center">
                        <a href="/">
                            <span class="sr-only">Babal Games</span>
                            <div class="flex gap-4 items-center">
                                <img class="h-12 w-auto" src="{% static 'core/logo_2.png'%}">
                                <p class="brand-name text-2xl flex items-center"><span class="w-full">BABAL<span
                                            class="font-black text-4xl text-primary">.</span>GAMES</span></p>
                            </div>
                        </a>

                    </div>
                    <div class="hidden lg:block">
                        <form action="{% url 'resultpage' %}" class="mb-0 ml-10 relative">
                            <input type="text" name="q" id="search-field"
                                class="h-10 rounded w-[500px] outline-none text-black indent-5 uppercase placeholder:normal-case"
                                placeholder="Search your favourite games" autocomplete="off">
                            <button type="submit" class="absolute right-2 top-0 bottom-0">
                                <i class="ph-bold ph-magnifying-glass text-gray-400"></i>
                            </button>
                            <div id="search-result-box" class="mt-5 absolute p-4 hidden w-full min-h-20 text-black search-result-box top-10 bg-white right-0 left-0 rounded">
                                <ul class="results">
                                    <p class="text-gray-400">No results for the given query</p>
                                </ul>
                            </div>
                        </form>
                    </div>

                    <div class="ml-auto flex items-center">
                        {% if user.is_authenticated %}
                        <a href="{% url 'profilepage' %}" class="bg-gray-700 hover:bg-gray-600 p-2.5 rounded hidden lg:block text-xl">
                            <i class="ph ph-user"></i>
                        </a>
                        {% else %}
                        <a href="{% url 'authpage' %}" class="text-primary hover:underline hidden lg:block">SIGN IN</a>
                        {% endif %}
                        <div class="relative hidden items-center justify-center p-3 ml-4 lg:flex">
                            <a href="{% url 'wishlistpage' %}" class="bg-gray-700 hover:bg-gray-600 p-3 rounded">
                                <i class="ph-fill ph-heart-straight"></i>
                            </a>
                            <span
                                class="absolute top-0 right-0 w-6 h-6 bg-primary rounded-full items-center flex justify-center text-black text-sm p-1">{{wishlist_count}}</span>
                        </div>
                        <div class="relative flex items-center justify-center p-3 ml-4">
                            <a href="{% url 'basketpage' %}" class="bg-gray-700 hover:bg-gray-600 p-3 rounded flex items-center gap-2">
                                <i class="ph-fill ph-basket"></i> <span
                                    class="hidden lg:block text-sm">Rs.{{basket_value}}</span>
                            </a>
                            <span
                                class="absolute top-0 right-0 w-6 h-6 bg-primary rounded-full items-center flex justify-center text-black text-sm p-1">{{basket_count}}</span>
                        </div>
                    </div>
                </div>
                <div class="w-full">
                    <ul class="genre-list flex w-full justify-between">
                        <li class="hover:text-primary">Action</li>
                        <li class="hover:text-primary">Adventure</li>
                        <li class="hover:text-primary">Anime</li>
                        <li class="hover:text-primary">FPS</li>
                        <li class="hover:text-primary">Horror</li>
                        <li class="hover:text-primary">Indie</li>
                        <li class="hover:text-primary">Open World</li>
                        <li class="hover:text-primary">Racing</li>
                        <li class="hover:text-primary">RPG</li>
                        <li class="hover:text-primary">Simulation</li>
                        <li class="hover:text-primary">Sports</li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    {% block content %}{% endblock %}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

    {% block scripts %}{% endblock %}

    <script type="text/javascript">
        if (localStorage.getItem('popupclosed') == 'true') {
            $('#promo-banner').addClass('hidden')
        } else {
            $('promo-banner').removeClass('hidden')
        }
        function copyToClipboard(element, jQueryId) {
            navigator.clipboard.writeText($(jQueryId).text());
            element.textContent = "Copied!";
        }
        
        function changeTextContent(element, str) {
            element.textContent = str;
        }
        
        $('#got-it-btn').on('click', function () {
            $('#promo-banner').addClass('hidden')
            localStorage.setItem('popupclosed', 'true')
        });
        
        $(document).on('mousedown', function (e) {
            console.log('mousedown event fired');
            if (!$(e.target).closest('#search-result-box, #search-field').length) {
                console.log('Click outside detected');
                $('#search-result-box').addClass('hidden');
            }
        });
        
        $('#search-field').on('focusin', function () {
            console.log('focusin event fired');
            if ($(this).val().trim().length > 0) {
                $('#search-result-box').removeClass('hidden');
            }
        });
        
        $('#search-field').keyup(function () {
            var data = $(this).val();
            console.log('Search field keyup event fired with value:', data);
            if (data.length > 0) {
                $.ajax({
                    type: 'GET',
                    url: `/search?q=${data}`,
                    success: function (response) {
                        console.log('AJAX request successful, response:', response);
                        $('.results').empty();
                        if (response.length < 1) {
                            $('.results').append('<p class="text-gray-400">No results for the given query</p>');
                        } else {
                            for (let i of response) {
                                let template = $(`
                                <li class="flex justify-between items-center p-2 hover:bg-gray-200">
                                    <a class="flex justify-between items-center w-full" href="/game/${i.fields.slug}">
                                        <div class="flex gap-2 items-center">
                                            <img class="rounded" src="http://127.0.0.1:8000/media/${i.fields.banner}" width="50px" height="30px">
                                            <p class="font-bold">${i.fields.display_name}</p>
                                        </div>
                                        <p class="font-bold text-primary">Rs. ${i.fields.price - i.fields.discount_amount}</p>
                                    </a>
                                </li>
                                `);
                                $('.results').append(template);
                            }
                        }
                        $('#search-result-box').removeClass('hidden');
                    },
                    error: function (response) {
                        console.log('AJAX request error, response:', response);
                    }
                });
            } else {
                $('#search-result-box').addClass('hidden');
            }
        });
    </script>
    
</body>

</html>