{% extends 'core/profile_base.html' %}
{% load custom_tag %}
{% block title %}{{user.username}}'s Games | Babal.Games{% endblock %}
    {% block profile_content %}
    <div class="w-full mt-4 gap-4">
        <div class="flex justify-end gap-4">
            <form class="flex m-0 gap-2">
                <div class="flex items-center gap-2">
                    <p class="text-gray-300">Sort by:</p>
                    <select name="sort" id="sort" class="bg-gray-800 rounded p-2">
                        <option value="price">Price</option>
                        <option value="display_name">Name</option>
                    </select>
                </div>
                <div class="flex items-center gap-2">
                    <p class="text-gray-300">Order:</p>
                    <select name="order" id="order" class="bg-gray-800 rounded p-2">
                        <option value="+">Ascending</option>
                        <option value="-">Descending</option>
                    </select>
                </div>
            </form>
        </div>
        {% for game in licensed_games %}
        <div class="bg-gray-800 mt-2 rounded p-4">
            <div class="flex justify-between items-center">
                <div class="flex items-center gap-2">
                    <img src="{{game.banner.url}}" alt="{{game.display_name}}" loading="lazy" class="rounded w-28 aspect-2 object-cover">
                    <a href={% url 'gamepage' game.slug %} class="text-gray-300">{{game.display_name}}</a>
                </div>
                <form method="post" action="{% url 'download_game' game.slug %}" class="flex gap-5 justify-center items-center m-0">
                    {% csrf_token %}
                    <button class="game-key hover:text-black border-2 px-2 rounded font-bold border-primary text-primary hover:bg-primary">Download</button>
                </form>
            </div>
        </div>
        {% endfor %}
    </div>
    {% endblock %}
    {% block tab_highlight %}
    <script type="text/javascript">
        $('.my-keys-tab').addClass('text-white')
        $('.my-keys-tab-icon').addClass('text-secondary')
    </script>
    {% endblock %}