{% extends 'core/profile_base.html' %}
{% load custom_tag %}
{% block title %}{{user.username}}'s Game Keys | Babal.Games{% endblock %}
    {% block profile_content %}
    <div class="w-full mt-4 gap-4">
        <div class="flex justify-end gap-4">
            <form class="flex m-0 gap-2">
                <div class="flex items-center gap-2">
                    <p class="text-gray-300">Sort by:</p>
                    <select name="sort" id="sort" class="bg-gray-800 rounded p-2">
                        <option value="price">Price</option>
                        <option value="display_name">Name</option>
                    </select>
                </div>
                <div class="flex items-center gap-2">
                    <p class="text-gray-300">Order:</p>
                    <select name="order" id="order" class="bg-gray-800 rounded p-2">
                        <option value="+">Ascending</option>
                        <option value="-">Descending</option>
                    </select>
                </div>
            </form>
        </div>
        {% for key in game_keys %}
        <div class="bg-gray-800 mt-2 rounded p-4" id="{{order.order_id}}">
            <div class="flex justify-between">
                <div class="flex items-center gap-2">
                    <img src="{{key.game.banner.url}}" alt="{{key.game.display_name}}" loading="lazy" class="rounded w-28 aspect-2 object-cover">
                    <a href={% url 'gamepage' key.game.slug %} class="text-gray-300">{{key.game.display_name}}</a>
                </div>
                <div class="flex gap-5 justify-center items-center">
                    <p class="game-key text-gray-300 blur-sm hover:blur-none transition-all duration-1000 bg-gray-700 hover:bg-gray-800">{{key.code}}</p>
                    <p class="text-gray-300 hover:text-primary text-2xl copy-to-clipboard"><i class="ph ph-copy-simple"></i></p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% endblock %}
    {% block tab_highlight %}
    <script type="text/javascript">
        $('.my-keys-tab').addClass('text-white')
        $('.my-keys-tab-icon').addClass('text-secondary')
    </script>

    <script type="text/javascript">
        $('.copy-to-clipboard').click(function() {
            const key = $(this).siblings('.game-key').text()
            navigator.clipboard.writeText(key)
            $(this).children('i').eq(0).removeClass('ph-copy-simple').addClass('ph-check-circle')
            
            setTimeout(() => {
                $(this).children('i').eq(0).removeClass('ph-check-circle').addClass('ph-copy-simple')
            }, 3000)
        })
    </script>
    {% endblock %}