{% extends 'account/profilepage.html' %}
{% load custom_tag %}
{% block title %}{{user.username}}'s Order History | Babal.Games{% endblock %}
    {% block profile_content %}
        <div class="w-full mt-4">
            {% for order in user_orders %}
            <h1 class="px-4 mt-4 text-gray-400">{{order.order_date}}</h1>
            <div class="bg-gray-800 mt-2 rounded p-4" id="{{order.order_id}}">
                <div class="flex justify-between">
                    <div>
                        <h1 class="text-primary uppercase text-sm mb-4">#{{order.order_id}}</h1>
                        {% for game in order|order_games_list %}
                        <div class="flex items-center gap-2 mb-2">
                            <img src="{{game.banner.url}}" alt="{{game.display_name}}" loading="lazy" class="rounded w-20 aspect-2 object-cover">
                            <p class="text-gray-300">{{game.display_name}}</p>
                        </div>
                        {% endfor %}
                    </div>
                    <div class="grid grid-cols-2 h-fit">
                        <p class="flex items-center">Rs. {{order.total_price}}</p>
                        {% if order.is_payment_successful %}
                        <p class="min-w-24 text-center py-1 rounded bg-green-500">Paid</p>
                        {% else %}
                        <a href="https://test-pay.khalti.com/?pidx={{order.pidx}}" class="flex min-w-24 justify-center py-1 rounded bg-yellow-500">Pay Now</a>
                        <div class="w-full h-full"></div>
                        <a href="{% url 'verify_payment' %}?pidx={{order.pidx}}" class="text-sm text-gray-400 hover:underline flex justify-center">Already Paid?</a>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    {% endblock %}
    {% block tab_highlight %}
        <script type="text/javascript">
            $('.order-history-tab').addClass('text-white')
            $('.order-history-tab-icon').addClass('text-secondary')
        </script>
    {% endblock %}