{% extends 'core/profile_base.html' %}
{% load custom_tag %}
{% block title %}
  {{ user.username }}'s Wishlist | Babal.Games
{% endblock %}
{% block profile_content %}
  <div class="w-full mt-4 gap-4">
    {% if wishlisted_games %}
    {% for game in wishlisted_games %}
      <div class="wishlist-item-{{ game.slug }} bg-gray-800 mt-2 rounded p-4">
        <div class="flex justify-between">
          <div class="flex gap-4 items-center">
            <div onclick="removeWishlistItem('{{ game.slug }}')">
              <i class="r-wl-btn ph-fill ph-heart-straight text-2xl text-primary hover:text-red-400"></i>
            </div>
            <div class="flex items-center gap-2">
              <img src="{{ game.banner.url }}" alt="{{ game.display_name }}" loading="lazy" class="rounded w-28 aspect-2 object-cover" />
              <p class="text-gray-300">{{ game.display_name }}</p>
            </div>
          </div>
          {% comment %} <div class="flex gap-5 justify-center items-center">
            {% endcomment %}
            <div class="pricing flex items-center gap-4 leading-4">
              {% if game.discount_amount != 0 %}
                <a class="bg-gray-700 p-2">-{{ game.discount_amount|percent_round:game.price }}%</a>
              {% endif %}
              <div class="flex flex-col text-right lg:min-w-24">
                {% if game.discount_amount != 0 %}
                  <h2 class="line-through text-[0.8rem]">Rs. {{ game.price }}</h2>
                {% endif %}
                <h2 class="text-primary font-bold">Rs. {{ game.price|subtract:game.discount_amount }}</h2>
              </div>
              <form action="{% url 'wishlist_to_basket' game.id %}" method="post" class="m-0">
                {% csrf_token %}
                <button class="text-2xl text-gray-400 hover:text-primary"><i class="ph-bold ph-basket"></i></button>
              </form>
            </div>
            {% comment %}
          </div> {% endcomment %}
        </div>
      </div>
    {% endfor %}
    {% else %}
    <div class="flex my-4 bg-red-400 p-4 rounded-sm w-full items-center gap-1">
      <span class="text-xl text-black"><i class="ph ph-warning"></i> No items in wishlist!</span>
    </div>
    {% endif %}
  </div>
{% endblock %}
{% block tab_highlight %}
  <script type="text/javascript">
    $('.wishlist-tab').addClass('text-white')
    $('.wishlist-tab-icon').addClass('text-secondary')
  </script>
  {% comment %}
  <script type="text/javascript">
        $('.r-wl-btn').on('mouseover', function() {
            $(this).removeClass('ph-fill').addClass('ph-bold')
        })
        $('.r-wl-btn').on('mouseleave', function() {
            $(this).removeClass('ph-bold').addClass('ph-fill')
        })
        $('.r-wl-btn').on('click', function() {
            $(this).parent().parent().parent().remove()
        })
    </script> {% endcomment %}
{% endblock %}

{% block extrascripts %}
  <script>
    function removeWishlistItem(slug) {
      $.ajax({
        url: "{% url 'remove_from_wishlist' %}",
        type: 'POST',
        data: {
          slug: slug,
          csrfmiddlewaretoken: '{{csrf_token}}'
        },
        success: function (res) {
          $(`.wishlist-item-${res['slug']}`).remove()
        }
      })
    }
  </script>
{% endblock %}
